body {
    background-image: url('0007.jpg');
    margin: 50px;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}
.glass{
    border: 2px solid rgba(255, 255, 255, 0.05);
    border-radius: 24px;
    color: white;
    padding: 2px 18px;
    backdrop-filter: blur(30px);
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.spacer{
    color: white;
    font-size: 30px;
}
.container {
position: relative;
text-align: center;
color: white;
}
.centered {
position: absolute;
top: 40%;
left: 50%;
transform: translate(-50%, -50%);
}
.tab {
overflow: hidden;
background-color: #505050;
}
@font-face {

    font-family: 'SF';
    src: url('manrope.ttf');

}
@font-face {

font-family: 'SF2';
src: url('gidole.ttf');

}
@font-face {

font-family: 'Md';
src: url('carta.ttf');

}
/* Style the buttons that are used to open the tab content */
.tab button {
    background-color: inherit;
    float: none;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
}
/* Change background color of buttons on hover */
.tab button:hover {
background-color: #ddd;
}

/* Create an active/current tablink class */
.tab button.active {
background-color: #000000;
}

/* Style the tab content */
.tabcontent {
display: none;
padding: 6px 12px;
border: 1px solid #ccc;
border-top: none;
opacity: .8;
}
.tabcontent {
animation: fadeEffect 1s; /* Fading effect takes 1 second */
}
.hometrt {
}
.lawstrt {
}
.color-change {
border-radius: 5px;
font-size: 20px;
padding: 14px 80px;
cursor: pointer;
color: #fff;
background-color: #00A6FF;
font-size: 1.5rem;
font-family: 'Roboto';
font-weight: 100;
border: 1px solid #fff;
box-shadow: 2px 2px 5px #AFE9FF;
transition-duration: 0.5s;
-webkit-transition-duration: 0.5s;
-moz-transition-duration: 0.5s;
position: absolute;
top: 80%;
left: 50%;
transform: translate(-50%, -50%);
}

.color-change:hover {
color: #006398;
border: 1px solid #006398;
box-shadow: 2px 2px 20px #AFE9FF;
}
/* Go from zero to full opacity */
@keyframes fadeEffect {
from {opacity: 0;}
to {opacity: .8;}
}
.card{
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-gap: 50px;
	background: #dddddd;
	border-radius: 27px;
}
.info{
	font-family: SF;
	font-size: 27px;
	margin-top: 0.5em;
	margin-bottom: 0em;
	font-weight: 550;
}
.infot{
	font-family: SF;
	font-size: 40px;
	text-decoration: none;
	font-weight: bold;
}
img.cardlogo {
	border-radius: 27px;
	height: 400px;
    width: 400px;
}
.card p.info{
	font-size: 22px;
	margin-right: 20px;
	margin-bottom: 20px;
}
@media (max-width: 900px){
	.card{
		display: block;
	}
	.card img{
		width: 100%;
        height: auto;
	}
}
